
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>


<html lang="pt-br">
<head>
    <title>Título da página</title>
    <meta charset="utf-8">
</head>
<body>

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="box-header with-border">
                        <h3 class="box-title">Movimentação</h3>
                    </div>
                </div>


            </div>

            <form role="form">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Data da Entrada</label>
                                <input class="form-control" type="date" id="dtDataMvm" data-date-for>
                            </div>

                            <div class="col-md-5">
                                <label>Fornecedor</label>
                                <select class="form-control" id="sslFornecedor">
                                    <option>LUXOTICA</option>
                                    <option>HOYA</option>
                                </select>
                            </div>


                            <div class="col-md-5">
                                <label>CFOP</label>
                                <select class="form-control" id="sslCFOP">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-2">
                                <label>Nota Fiscal</label>
                                <input class="form-control" type="text" id="txtNumeroNota">
                            </div>

                            <div class="col-md-3">
                                <label>Modelo</label>
                                <select class="form-control" id="sslTipoNf">
                                    <option>55 - Nota Fiscal Eletrônica</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label>Série</label>
                                <input class="form-control" type="text" id="txtSerie">
                            </div>

                            <div class="col-md-2">
                                <label>Sub-Série</label>
                                <input class="form-control" type="text" id="txtSubSerie">
                            </div>


                            <div class="col-md-3">
                                <label>Valor Total da Nota</label>
                                <input type="number" class="form-control" id="txtValorNota">
                            </div>
                        </div>

                    </div>

                </div>


                <div class="card">


                    <div class="card-body">


                        <div class="row">

                            <div class="col-md-3">
                                <label>Código Fantasia</label>
                                <div class="input-group input-group">
                                    <input type="text" class="form-control" id="txtFantasia">
                                    <span class="input-group-btn">
                                        @*<button type="button" id="btnPesquisar" class="btn btn-info btn-flat">Go!</button>*@

                                        <button type="button" id="btnPesquisarProduto" class="btn btn-social-icon" style="border: solid 1px;">
                                            <i class="fa fa-fw fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Produto</label>
                                <input type="text" class="form-control" id="txtProduto" disabled>
                            </div>

                            <div class="col-md-2">
                                <label>Quantidade</label>
                                <input type="number" class="form-control" id="txtQtd">
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-2">
                                <label>Valor Unitário R$</label>
                                <input type="text" id="txtValorUnitario" class="form-control" />
                            </div>

                            <div class="col-md-2">
                                <label>Valor IPI <span style="color: red"></span></label>
                                <input type="text" id="txtIPI" class="form-control" onblur="CalcularCustoTotal();" />
                            </div>

                            <div class="col-md-2">
                                <label>Custo Total <span style="color:red">R$</span></label>
                                <input type="text" id="txtCustoTotal" class="form-control" />
                            </div>

                            <div class="col-md-2">
                                <label>Markup % </label>
                                <input type="number" id="txtMarkup" class="form-control" onblur="CalculoPrecoVenda();" />
                            </div>

                            <div class="col-md-2">
                                <label>Valor de Venda <span style="color:lawngreen">R$</span></label>
                                <input class="form-control" type="text" id="txtValorVenda" />
                            </div>

                            <div class="col-md-1" style=" padding-left: 0px">
                                <label>Ação</label>
                                <button id="btnSalvar" class="btn btn-social-icon" disabled>
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-12">

                                    <table id="tbMovimentacao" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <td>Ação</td>
                                                <td>Item</td>
                                                <td>Código</td>
                                                <td>Fantasia</td>
                                                <td>Quantidade</td>
                                                <td>V. Custo Total</td>
                                                <td>V. IPI</td>
                                                <td>V. Custo</td>
                                                <td>Markup</td>
                                                <td>V. Venda</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>


                                </div>


                            </div>

                        </div>
                    </div>
                   

                   
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        <button id="btnGravarEntrada" type="button" class="btn btn-success" disabled>SALVAR</button>
    </div>


    <div class="modal fade" id="txtModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnFecharModal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Lista de Produtos</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="md-12">
                            <table id="tbListagemProdutos" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <td>Ação</td>
                                        <td>Código</td>
                                        <td>Fantasia</td>
                                        <td>Material</td>
                                        <td>Grife</td>
                                        <td>Cor</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jsPaginas/jsEntradaEstoque.js"></script>