@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <button id="btnCriar" type="button" class="btn btn-dark waves-effect waves-light">Criar</button>
    </div>


    <div>
        <button id="btnExcluir" type="button" class="btn btn-danger waves-effect waves-light">Deletar</button>
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jsPaginas/jsResetTables.js"></script>