
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="nav-tabs-custom">

    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#tab1" id="aLista" data-toggle="tab">Listagem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" id="aCadastro" data-toggle="tab">Registro</a>
            </li>
        </ul>

    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table id="tbConvenio" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr>
                        <td>Ação</td>
                        <td>Nº Contrato</td>
                        <td>Empresa</td>
                        <td>Desconto</td>
                        <td>Celular</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab2">
            <div class="card">

                <div class="card-body">
                    <form id="formularioValidation" name="formularioValidation">

                        <div class="row">

                            <div class="col-md-2">
                                <label>Nº Contrato</label>
                                <input id="txtNumeroContratoConvenio" class="form-control" type="text" />
                            </div>


                            <div class="col-md-4">
                                <label>Empresa</label>
                                <input type="text" class="form-control"id="txtEmpresaConvenio" placeholder="Nome">
                            </div>
                            <div class="col-md-1">
                                <label>Desconto</label>
                                <input type="text" class="form-control" id="txtDescontoConvenio" maxlength="25">
                            </div>



                            <div class="col-md-2">
                                <label>Telefone</label>
                                <input class="form-control" type="text" id="txtTelefoneConvenio" />
                            </div>

                            <div class="col-md-2">
                                <label>Celular</label>
                                <input type="text" class="form-control" id="txtCelularConvenio">
                            </div>


                            <div class="col-md-10">
                                <label>Observações</label>
                                <input type="text" class="form-control" id="txtObservacaoConvenio">
                            </div>

                            <div class="col-md-2">
                                <br>
                                <br>
                                <div class="iCheck-helper">
                                    <label>
                                        <input type="checkbox" id="ckbExibeVendaConvenio" checked=""> Exibe na venda
                                    </label>
                                </div>
                            </div>



                        </div>


                    </form>
                </div>
            </div>


            <div class="card">

                <div class="card-body">
                    <div class="col-md-2">
                        <div class="input-group margin">
                            <input type="text" id="txtValorCep" class="form-control" placeholder="BUSCAR CEP">
                            <span class="input-group-btn">
                                <button type="button" id="btnBuscarCep" class="btn btn-info btn-flat">Go!</button>
                            </span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label for="">UF</label>
                            <select class="form-control" id="ddlUf">
                                <option></option>
                                <option value="SP">SP</option>
                                <option value="PR">PR</option>
                                <option value="RJ">RJ</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label>Endereço</label>
                            <input type="text" class="form-control" id="txtLogradouro" maxlength="25" style="text-transform: uppercase">
                        </div>

                        <div class="col-md-2">
                            <label>Número</label>
                            <input type="text" class="form-control" id="txtNumero" maxlength="5" style="text-transform: uppercase">
                        </div>


                        <div class="col-md-4">
                            <label>CIDADE</label>
                            <input type="text" class="form-control" id="txtCidade" maxlength="25" style="text-transform: uppercase">
                        </div>
                        <div class="col-md-6">
                            <label>Bairro</label>
                            <input type="text" class="form-control" id="txtBairro" maxlength="25" style="text-transform: uppercase">
                        </div>

                        <div class="col-md-6">
                            <label>Complemento</label>
                            <input type="text" class="form-control" id="txtComplemento" maxlength="30" style="text-transform: uppercase">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jsPaginas/jsConvenio.js"></script>