
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .custom-title-class {
        color: black; /* Cor da fonte mais escura */
        font-weight: bold; /* Texto em negrito */
        /* Outros estilos personalizados, se necessário */
    }
</style>

<div class="nav-tabs-custom">

    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#tab1" id="aLista" data-toggle="tab">Listagem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" id="aCadastro" data-toggle="tab">Registro</a>
            </li>
        </ul>

    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table id="tbTipoVenda" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr>
                        <td>Ação</td>
                        <td>Tipo Venda</td>
                        <td>Default Venda</td>
                        <td>Status</td>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>



        <div class="tab-pane" id="tab2">
            <div class="card">

                <div class="card-body">
                    <form id="formularioValidation" name="formularioValidation">

                        <div class="row">
                            <div class="col-md-3">
                                <label for="txtDescricaoIndicacao">Descrição</label>
                                <input id="txtDescricaoIndicacao" class="form-control" type="text">
                            </div>

                            <div class="col-md-2">
                                <label for="switch6">Default Venda</label>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="ckbDefaultVendaIndicacao" switch="primary" checked>
                                    <label for="switch6" data-on-label="SIM" data-off-label="NAO"></label>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jsPaginas/jsIndicacao.js"></script>


